@page "/"

<PageTitle>Home</PageTitle>

<h1>AntCalc</h1>
<h2>An antenna design calculator</h2>
<h3>Copyright &copy; N.Booth, M0CVO, for Mogpie 2023.</h3>
<br />

<button class="nav-item">
    <NavLink class="nav-link" href="form1" Match="NavLinkMatch.All">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Next
    </NavLink>
</button>

